<div class="logo">
  <img src="/assets/images/logo.png" alt=""/>
</div>
<nav>
  <a routerLink="/home" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>Acceuil</span>
  </a>
  <a routerLink="/collection" routerLinkActive="active"> Ma collection </a>
  <a routerLink="/actus" routerLinkActive="active"> Actualités </a>
  <a routerLink="/forum" routerLinkActive="active"> Forum </a>
</nav>
<div class="actions">
  <div class="search" [ngClass]="{ show: searchActive }">
    <input #searchInput placeholder="Rechercher..." [(ngModel)]="search" />
  </div>
  <button (click)="flipSearch()">
    <mat-icon>search</mat-icon>
  </button>
</div>
